@page "/addcandidate"
@using CandidateTracking.Data
@using CandidateTracking.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject NavigationManager Navigation
@inject ApplicationDbContext DbContext

<h3 class="page-title">Add Candidate</h3>

<EditForm Model="candidate" OnValidSubmit="HandleSubmit" class="form-container" FormName="candidateForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>First Name:</label>
        <InputText @bind-Value="candidate.FirstName" class="form-control" id="firstNameInput" />
        <ValidationMessage For="@(() => candidate.FirstName)" />
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <InputText @bind-Value="candidate.LastName" class="form-control" />
        <ValidationMessage For="@(() => candidate.LastName)" />
    </div>
    <div class="form-group">
        <label>Email Address:</label>
        <InputText @bind-Value="candidate.EmailAddress" class="form-control" />
        <ValidationMessage For="@(() => candidate.EmailAddress)" />
    </div>
    <div class="form-group">
        <label>Phone Number:</label>
        <InputText @bind-Value="candidate.PhoneNumber" class="form-control" />
        <ValidationMessage For="@(() => candidate.PhoneNumber)" />
    </div>
    <div class="form-group">
        <label>Residential Zip Code:</label>
        <InputText @bind-Value="candidate.ResidentialZipCode" class="form-control" />
        <ValidationMessage For="@(() => candidate.ResidentialZipCode)" />
    </div>

    <button type="submit" class="btn btn-primary submit-button">Add Candidate</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private Candidate? candidate { get; set; }

    protected override void OnInitialized() => candidate ??= new();

    private async Task HandleSubmit()
    {
        DbContext.Candidates.Add(candidate);
        await DbContext.SaveChangesAsync();
        Navigation.NavigateTo("/candidates");
    }
}
